<div class="welcome-page">
  <div class="container">
    <mat-toolbar color="primary">
      <mat-toolbar-row><span>{{ pageTitle }}</span></mat-toolbar-row>
    </mat-toolbar>
    <div class="body">
      <div class="image">
        <img src="./assets/images/logo.jpg" alt="company logo">
      </div>
      <div class="author-block">
        <div class="title">Developed by:</div>
        <div class="name">Deborah Kurata</div>
        <div class="twitter">@deborahkurata</div>
        <div class="blog"><a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a></div>
      </div>
    </div>
  </div>
</div>
